// PALETTE
$black: #2b2b2b;
$white: #ffffff;
$primary: #494646;
$secondary: #4f4f4f;
$lighter: #a19a9a;
$light: #e9e2e2;
$gray: #999;
$dark: #333;
$success: #4caf50;
$danger: #f44336;

// FONTS FAMILY
$inter: "Inter", sans-serif;
$raleway: "Raleway", sans-serif;

// FONT SIZES
$jumbo: 3.8em;
$xlarge: 3em;
$large: 2.4em;
$medium: 1.8em;
$small: 1.6em;
$xsmall: 1.2em;


//Colors
$primary-color: #4CAF50;
$secondary-color: #2196F3;
$text-color: #333;


// //FONTS FAMILY
// $inter: "Inter", sans-serif;
// $raleway: "Raleway", sans-serif;

// //FONT SIZES
// $jumbo: 3.8em;
// $xlarge: 3em;
// $large: 2.4em;
// $medium: 1.8em;
// $small: 1.6em;
// $xsmall: 1.2em;

// //PALETTE
// $black: #2b2b2b;
// $white: #ffffff;
// $primary: #494646;
// $secondary: #4f4f4f;
// $lighter: #a19a9a;
// $light: #ffdddd;
// $white: #ffffff;
// $gray: #999;
// $dark: #333;
// $success: #4caf50;
// $danger: #f44336;

// //Colors
// $primary-color: #4CAF50;
// $secondary-color: #2196F3;
// $text-color: #333;
