$spinner-size: 48px;
$spinner-border-width: 5px;
$spinner-color: $primary;
$spinner-background: $white;
$spinner-animation-duration: 1s;

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.loader {
  width: $spinner-size;
  height: $spinner-size;
  border: $spinner-border-width solid $spinner-background;
  border-bottom-color: $spinner-color;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation $spinner-animation-duration linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}